<html>
    <head>

    </head>
    <body>
        <div style="border:1px solid green;overflow:auto;">
        <img src="./girl image1.jpg"style="float:left;"></div>
        <div style="border:1px solid green;overflow:auto; align:center;">
        <p><b>CandidateName</b>:Sudha</p>
        <p><b>ProfileContent</b>:Focused and enthusiastic developer with a keen interest in software development and artificial intelligence. By comprehensive exposure to the underlying concepts and applying them vividly to various projects, 
            my love for these domains came into being. I am a passionate individual who thrives to build and
            apply algorithms to solve real-world industry problems.</p>
        <p><b>CollegeName</b>:PSCMR</p>
        <p><b>Experience</b>:
            <ul>
                <li>Responsible for the design, development, and testing of web-based backend applications to
                     facilitate scalable front-end user interactions through an API.</li>
                <li>Cleaned and processed data into deliverables within specific formats with python libraries.</li>
                <li>working with backend framework such as Django and Flask.</li>
              </ul> 

            
            
            </p>
        <p><b>Projects</b>Efficient Spectrum Utilization using SUCR Protocol.</p>
        <p><b>Certifications</b>Got exposure of working with backend framework such as Django and Flask.</p>


        </div>
    </body>
</html>